@using System.Threading.Tasks
@model WebApplication2.Models.ServerInfoViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h2>Server Name: @Model.Name</h2>
<h3>Software: @Model.Software</h3>
<p>Use this area to provide additional information.</p>
